/*
author: ElliotRaven
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.2s;
}

::-webkit-input-placeholder {
    color: #b2b2b2;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0;
}
::-moz-placeholder {
    color: #b2b2b2;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0;
}
:-moz-placeholder {
    color: #b2b2b2;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0;
}
:-ms-input-placeholder {
    color: #b2b2b2;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0;
}

::-webkit-resizer {
    display: none;
}

body, html, a, ul, .reset, .reset * {
    border: none;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: #f7f9f9;
    color: #acacac;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    font: 400 18px/24px 'Varela Round', sans-serif;
}

body, html {
    width: 100%;
    position: relative;
}

a img, img {
    border: none;
}

i.fa:before {
    display: block;
}

a {
    color: #222222;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #2f2c2c;
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 48px;
    line-height: 52px;
    position: relative;
    padding-bottom: 30px;
}

.h2 {
    font-size: 42px;
    line-height: 44px;
}

.h3 {
    font-size: 36px;
    line-height: 40px;
}

.h4 {
    font-size: 30px;
    line-height: 34px;
}

.h5 {
    font-size: 24px;
    line-height: 28px;
}

.h6 {
    font-size: 18px;
    line-height: 22px;
}

.description-text {
    font-size: 16px;
    line-height: 20px;
    color: #acacac;
}

/*-----------------------> btn-style <------------------------*/

.btn {
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: 2px solid transparent;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px 30px;
    background: #2f2c2c;
}

.btn:before {
    display: block;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-radius: 40px 0 0 0;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 17px;
    height: 16px;
}

.btn:visited {
    outline: none;
}

.btn:hover {
    -webkit-box-shadow: 8px 10px 30px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 30px -10px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 30px -10px rgba(0,0,0,0.75);
}

.btn:focus {
    outline: none;
}

.btn:active {
    -webkit-box-shadow: inset 0 0 60px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 60px -10px rgba(0,0,0,0.75);
    box-shadow: inset 0 0 60px -10px rgba(0,0,0,0.75);
}

.load-more .read-more {
    padding-top: 78px;
    display: inline-block;
    position: relative;
    color: #d7d7d7;
    text-transform: uppercase;
}

.load-more .read-more:hover, .load-more .read-more:hover i:before {
    color: #2f2c2c;
}

.load-more .read-more i:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 70px;
    color: #d7d7d7;
}

/*-----------------------> btn-style <------------------------*/

.border-none {
    border: none !important;
}

.float-none {
    float: none !important;
}

.textalign-l {
    text-align: left !important;
}

.textalign-r {
    text-align: right !important;
}

.textalign-c {
    text-align: center;
}

.inline-block {
    display: inline-block !important;
    vertical-align: middle;
    float: none !important;
}

:after, :before {
    content: '';
    display: none;
    transition: all 0.2s;
}

.clear-fix:after, header nav > ul > li:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}

.page-width {
    width: 1170px;
    margin: 0 auto;
}

/*--------------------------------------- col-style -------------------------------------*/

.col2, .col3, .col4, .col6,
.col-5, .col-10, .col-15, .col-20,
.col-30, .col-35, .col-40, .col-45, .col-50, .col-55, .col-60,
.col-70, .col-75, .col-80, .col-90  {
    padding: 15px;
    float: left;
    position: relative;
}

.col2, .col-50 {
    width: 50%;
}

.col3 {
    width: 33.333%;
}

.col4 {
    width: 25%;
}

.col6 {
    width: 16.6666%;
}

.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-15 {
    width: 15%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-35 {
    width: 35%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-item {
    padding: 15px;
}

.col-container {
    margin: 0 -15px;
}

/*-------------------------------> bg-colors <----------------------------------------*/

.grey-bg {
    background-color: #f7f9f9;
}

.green-grey-bg {
    background-color: #3d4d4f;
}

.mgrey-bg {
    background-color: #2f2c2c;
}

.dgrey-bg {
    background-color: #151414;
}

.bluegreen-bg {
    background-color: #4cc2c0;
}

.wblue-bg {
    background-color: #00aeef;
}

.blue-bg {
    background-color: #2e3192;
}

.violet-bg {
    background-color: #6739b6;
}

.wviolet {
    background-color: #605ca9;
}

.dviolet-bg {
    background-color: #31364c;
}

.orange-bg {
    background-color: #f15b26;
}

.yellow-bg {
    background-color: #fcaf3b;
}

.wyellow-bg {
    background-color: #fecb16;
}

.brown {
    background-color: #c69c6d;
}

.pink-bg {
    background-color: #e91d62;
}

.green-bg {
    background-color: #3cb878;
}

.olive-bg {
    background-color: #80be2c;
}

.white-bg {
    background-color: #fff;
}

.white-color, header nav a {
    color: #fff;
}

.olive-color {
    color: #8dc63f !important;
}

.green-color, header nav > ul > li.dropdown .dropdown-box .dropdown-link a:hover, header nav > ul > li.dropdown .dropdown-box ul li a:hover, header nav > ul > li.dropdown .dropdown-box .dropdown-link a:hover i:before, .search-cart a:hover i:before, .search-cart a.active:hover i:before {
    color: #4cc2c0;
}

.dgrey-color {
    color: #2f2c2c;
}

.white-color {
    color: #fff;
}

/*---------------------------------------->progressbar skills-master<------------------------------------------------*/

#skills-block {
    padding-top: 30px;
}

#skills-block .h5 {
    color: #797676;
    font-size: 16px;
    line-height: 24px;
    padding-top: 6px;
}

#skills-block .h5 span {
    float: right;
    color: #8dc63f;
}

.skills {
    padding-top: 8px;
}

.skillbar * {
    transition: none;
}

.skillbar {
    width: 100%;
    height: 16px;
    border-radius: 10px;
    background: #373434;
    padding: 5px 7px;
    position: relative;
    display: inline-block;
    margin: 10px 0;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: -33px;
    font-size: 16px;
    line-height: 24px;
    color: #8dc63f;
}

.skillbar-bar {
    height: 6px;
    border-radius: 5px;
    width: 0;
    display: inline-block;
    position: absolute;
}

.skillbar-bar.yellow-bg {
    background-color: #ff9700 !important;
}
.skillbar-bar.green-bg{
    background-color: #3cb878 !important;
}
.skillbar-bar.orange-bg {
    background-color: #f15b26 !important;
}
.skillbar-bar.bluegreen-bg {
    background-color: #4cc2c0 !important;
}
.skillbar-bar.yellow-bg:after {
    border-color: #ff9700;
}
.skillbar-bar.green-bg:after {
    border-color: #3cb878;
}
.skillbar-bar.orange-bg:after {
    border-color: #f15b26;
}
.skillbar-bar.bluegreen-bg:after {
    border-color: #4cc2c0;
}
.skillbar-bar.pink-bg {
    background-color: #e91d62 !important;
}
.skillbar-bar.olive-bg {
    background-color: #80be2c !important;
}
.skillbar-bar.blue-bg {
    background-color: #2e3192 !important;
}
.skillbar-bar.wyellow-bg {
    background-color: #fecb16 !important;
}
.skillbar-bar.pink-bg:after {
    border-color: #e91d62;
}
.skillbar-bar.olive-bg:after {
    border-color: #80be2c;
}
.skillbar-bar.blue-bg:after {
    border-color: #2e3192;
}
.skillbar-bar.wyellow-bg:after {
    border-color: #fecb16;
}

.skillbar-bar:after {
    display: block;
    right: 0;
    top: -10px;
    width: 17px;
    height: 17px;
    border: 4px solid #fff;
    position: absolute;
    border-radius: 100%;
    background: #373434;
    z-index: 999;
}

.skillbar-bar {
    overflow: visible !important;
}

/*---------------------------------------lets play--------------------------------------------*/

header {
    padding: 10px 0;
}

header figure {
    float: left;
}

header figure a, footer a {
    display: block;
    font-size: 32px;
    line-height: 36px;
    color: #fff;
    font-family: 'Griffy', cursive;
}

header figure a i, footer a i {
    font-size: 30px;
    color: #fff;
    margin-right: 5px;
}

header nav {
    float: right;
    padding: 5px 0;
}

header nav a {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 10px;
    position: relative;
}

header nav a:not(:last-child):after {
    width: 1px;
    background: #fff;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    display: block;
}

header nav a:hover {
    color: #3cb878;
}

.status {
    padding: 10px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.on {
    color: #80be2c;
}

.off {
    color: #f15b26;
}

#about-block {
    padding: 30px 0;
}

#about-block .img-box {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}

#about-block .img-box img {
    width: 100%;
}

#about-block .text-box {
    padding: 30px 0 0 180px;
}

#about-block .text-box h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    margin: 0;
}

#about-block .text-box p {
    display: inline-block;
}

#about-block .soc-link {
    padding-top: 20px;
}

#about-block .soc-link li {
    display: inline-block;
    vertical-align: middle;
}

#about-block .soc-link a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    position: relative;
}

#about-block .soc-link a {
    padding-left: 5px;
    margin-right: 30px;
}

#about-block .soc-link a:hover {
    color: #f15b26;
}

#about-block .soc-link img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

#more-skills {
    background: url("img/Image00018-3.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

#more-skills:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background: rgba(128, 190, 44, 0.4);
}

#more-skills .text-skills:after {
    position: absolute;
    display: block;
    width: 1px;
    background: #fff;
    height: 80%;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#more-skills .text-skills ul {
    padding: 100px 20%;
}

#more-skills .text-skills ul li {
    padding: 20px 0;
    color: #fff;
    position: relative;
    margin: 0 auto;
    animation-duration: 2s;
}

#more-skills .text-skills ul li:nth-child(odd) {
    text-align: left;
    padding-left: 55%;
}

#more-skills .text-skills ul li:nth-child(even) {
    text-align: right;
    padding-right: 55%;
}

#more-skills .text-skills ul li:before {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #fff;
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#portfolio-block {
    padding: 50px 0;
}

#portfolio-block .col3 .col-item {
    background: #fff;
    position: relative;
    min-height: 470px;
}

#portfolio-block .col3 .col-item:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

#portfolio-block .col3 .img-box img{
    width: 100%;
    height: 366px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#portfolio-block .col3 .h5 {
    text-align: center;
    padding-top: 10px;
}

#portfolio-block .col3 .col-item .read-more {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
}

footer {
    padding: 20px 0;
    text-align: center;
}

footer a {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
}

footer a i:before {
    font-size: 20px;
}

footer a:hover, footer a:hover i:before {
    color: #8dc63f;
}