@media all and (max-width: 960px) {
    .page-width {
        width: 100%;
        padding: 10px 5px;
    }

    .header_box > ul:before, .header_box > ul:after {
        display: none;
    }
}

@media all and (max-width: 667px) {
    .header_box > ul:before, .header_box > ul:after {
        display: none;
    }
}

@media all and (max-width: 420px) {

}

@media all and (max-width: 320px) {

}